.Board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 720px;
  width: 720px;
  box-shadow: 0 0 0 1px var(--border-color);
  margin: auto;
  resize: both;
  overflow: auto;
}


.Square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5%; 
  width: 12.5%;
  box-shadow: 0 0 0 1px var(--border-color);
}

.Square.Square--isLight {
  background-color: var(--white);
}
.Square.Square--isDark {
  background-color: var(--black);
  color: var(--white);
}

