.Square {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 12.5%; 
  width: 12.5%;
  box-shadow: 0 0 0 1px var(--border-color);
}

.Board {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 0 1px var(--border-color);
  height: 720px;
  width: 720px;
  margin: auto;
}

.Square.Square--isLight {
  background-color: var(--white);
}
.Square.Square--isDark {
  background-color: var(--black);
  color: var(--white);
}

