//VARIABLES to be defined during 'CSS and chill'

body {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

main {
  background-color: #F9FCFF;
}

footer {
  padding: 10px;
}

#copywrite {
  color: red;
}

div#game {
  position: relative;
  margin: 20px auto;
  width: 400px;
}

article.instructions {
  font-size: 16px;
  font-weight: 300;
  color: #232621;
  background-color: #FFF8F9;
  display: none;
  text-align: left;
  font-family: 'Lato', sans-serif;
  word-spacing: 2px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
  }
}

div#board {
  // float:left;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #232621;
  background-color: white;
  height: 382px;
  width: 382px;
  border-style: solid;
  border-width: 9px;
  border-color: #DEB887;
  position: relative;
}

div.square {
  float: left;
  position: relative;
  width: 46px;
  height: 46px;
  border-width: 2px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #444;
}

div.square.movable:hover {
  -webkit-box-shadow: inset 0px 0px 8px #FFD700;
  -moz-box-shadow: inset 0px 0px 8px #FFD700;
  box-shadow: inset 0px 0px 8px #FFD700;
  cursor: pointer;
}

/* the bottom row */
div.square:nth-last-child(-n + 8) {
  border-bottom-style: none;
}

/* the sides */
div.square:nth-child(8n) {
  border-right-style: none;
}

div.square.light {
  background-color: #fff;
}

div.square.dark {
  background-color: #333;
}

div#pieces {
  //keeps the pieces to the board
  position: absolute;
  /* 9 px puts pieces inside of the board's borders;*/
  left: 9px;
  top: 9px;
}

div.piece {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 7px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px #666;
  -moz-box-shadow: 0px 0px 3px #666;
  box-shadow: 0px 0px 3px #666;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: blue;

}

div.piece:hover {
  -webkit-box-shadow: 0px 0px 8px #FFD700;
  -moz-box-shadow: 0px 0px 8px #FFD700;
  box-shadow: 0px 0px 8px #FFD700;
  cursor: pointer;
}

div.piece.selected {
  -webkit-box-shadow: 0 0 10px 5px #16A8C7;
  -moz-box-shadow: 0 0 10px 5px #16A8C7;
  box-shadow: 0 0 10px 5px #16A8C7;
}

div.piece.light {
  background-color: #e4a6ae;
  border: 3px solid #B93848;
  border-radius: 50%;
  transition: all 0.2s linear;
  background-repeat: no-repeat;
  background-position: center;
}

div.piece.dark {
  background-color: #F1F1FF;
  border: 3px solid #8b8bff;
  border-radius: 50%;
  transition: all 0.2s linear; //giving that slow glow
  background-repeat: no-repeat;
  background-position: center;
}

div#heading {
  float: right;
}

.all-buttons {
  overflow: hidden;
}

button {
  border: 0;
  color: #F1F1FF;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  padding: 10px;
  background-color: #8b8bff;
  box-shadow: 1px 1px 3px #232621;
  transition: background-color 0.15s linear;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  width: 48%;

  &:first-of-type {
    float: left;
  }

  &:last-of-type {
    float: right;
  }
}



.clearfix {
  overflow: hidden;
}


//have a class called legal moves to highlight the legal moves only.
.legalMoves {
  -webkit-box-shadow: 0 0 10px 5px #74c12f;
  -moz-box-shadow: 0 0 10px 5px #74c12f;
  box-shadow: 0 0 10px 5px #74c12f;
}

div.piece.king {
  background-image: url(''); //relavtive file path for the file
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #ffef99;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

//p's inside the stats div
div.stats p {
  display: none;
}

//responsive breakpoints
@media only screen and (min-width: 960px) {}


@media only screen and (min-width: 620px) {}

@media only screen and (min-width: 320px) {
  div#board {
    border-radius: 5px;
    box-shadow: 1px 1px 3px #232621;
    background-color: white;
    height: 382px;
    width: 382px;
    border-style: solid;
    border-width: 9px;
    border-color: #DEB887;
    position: relative;
  }

}